@media print {
     
  @page {
    size: landscape;

  }

  #printPageButton {
    display: none;
  }
  #regresarButton {
    display: none;
  } 

  #PDFButton{
    display: none;
  }
  
  body {
   zoom:100%;
   size: auto;
   margin: 1mm 1mm 1mm 1mm;
  }

  table {
  page-break-inside: avoid;
  height: auto;
  }
}
 

 
